body{background-color: #efaf 7;text-align: justify;font-size: 18px;)
    H1{text-align:center;background-color #2rbdba;color: #17313b;)}
    h3{text-align: justify;color: #1f7a79;}
    b{color: blue;font-size: 18px;}
    